#binslip{
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
  padding:2mm;
  margin: 0 auto;
  width: 75mm;
  /*min-height: 55mm;*/
  background: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

#shipslip{
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
  padding:2mm;
  margin: 0 auto;
  width: 75mm;
  min-height: 203mm;
  background: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

#mailslip{
  padding:2mm;
  margin: 0 auto;
  width: 215mm;
  min-height: 279mm;
  background: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 72px;
  color: #000;
  margin-bottom: 0;
}

h1.shipping{
  font-size: 62px;
  color: #000;
  margin-bottom: 0;
  margin-top: 3px;
}

h1.mailing{
  font-size: 40px;
  color: #000;
  margin-bottom: 0;
}

h2{
  font-variant:small-caps;
}

h3{
  font-size: 25px;
}

p{
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

p.shipping{
  font-size: 16px;
  font-weight: bold;
  color:#000;
  margin-bottom:3px;
}

p.mailing{
  font-size: 20px;
  font-weight: bold;
  color:#000;
  margin-bottom: 0;
}
