a.branch {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    display:inline-block;
    margin: 15px;
    text-decoration: none;
    font-size:35px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    color: initial;
    height:100px;
    width:100px;
}

a.library {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    display:inline-block;
    margin: 15px;
    text-decoration: none;
    font-size:24px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    color: initial;
    height:100px;
    width:100px;
}

a.select {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    display:inline-block;
    margin: 15px;
    text-decoration: none;
    font-size:18px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    color: initial;
    height:100px;
    width:180px;
}

input[type=button] {
  margin: 15px;
  text-decoration: none;
  font-size:24px;
  font-weight:bold;
  height: 100px;
  width: 100px;
}
